@import './reset.scss';
@import './iconfont/iconfont.css';
@media only screen and (max-width:   1080px), only screen and (max-device-width:    1080px) {
  html,body {
  font-size:     18px;
  }
  }
      @media only screen and (max-width:   960px), only screen and (max-device-width:    960px) {
  html,body {
  font-size:     16px;
  }
  }
      @media only screen and (max-width:   800px), only screen and (max-device-width:    800px) {
  html,body {
  font-size:     13.333333333333332px;
  }
  }
      @media only screen and (max-width:   720px), only screen and (max-device-width:    720px) {
  html,body {
  font-size:     12px;
  }
  }
      @media only screen and (max-width:   640px), only screen and (max-device-width:    640px) {
  html,body {
  font-size:     10.666666666666666px;
  }
  }
      @media only screen and (max-width:   600px), only screen and (max-device-width:    600px) {
  html,body {
  font-size:     10px;
  }
  }
      @media only screen and (max-width:   540px), only screen and (max-device-width:    540px) {
  html,body {
  font-size:     9px;
  }
  }
      @media only screen and (max-width:   480px), only screen and (max-device-width:    480px) {
  html,body {
  font-size:     8px;
  }
  }
      @media only screen and (max-width:   414px), only screen and (max-device-width:    414px) {
  html,body {
  font-size:     6.8999999999999995px;
  }
  }
      @media only screen and (max-width:   400px), only screen and (max-device-width:    400px) {
  html,body {
  font-size:     6.666666666666666px;
  }
  }
      @media only screen and (max-width:   375px), only screen and (max-device-width:    375px) {
  html,body {
  font-size:     6.25px;
  }
  }
      @media only screen and (max-width:   360px), only screen and (max-device-width:    360px) {
  html,body {
  font-size:     6px;
  }
  }
      @media only screen and (max-width:   320px), only screen and (max-device-width:    320px) {
  html,body {
  font-size:     5.333333333333333px;
  }
  }
      @media only screen and (max-width:   240px), only screen and (max-device-width:    240px) {
  html,body {
  font-size:     4px;
  }
  }

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.clearfix{
  zoom: 1;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
html,
body,
#app {
  height: 100%;
}
