.topic_content {
  position: relative;
  padding: 1.14rem 1.14rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 18px;
  margin-bottom: 1.86rem;
  .title {
    padding-bottom: .57rem;
    font-size: 24px;
    line-height: 1.79rem;
    color: rgba(105, 180, 130, 1);
  }
  .item {
    padding: 0 3.71rem;
    line-height: 2.43rem;
    font-size: 22px;
  }
  .row {
    padding: 0 3.71rem;
    line-height: 2.43rem;
    font-size: 20px;
  }
  .topic {
    line-height: 2.43rem;
    font-size: 18px;
    padding: 0 3.71rem;
  }
  .button_warp {
    position: relative;
    height: 2.79rem;
    .classroomOneButton {
      position: absolute;
      right: 2.57rem;
      cursor: pointer;
      width: 6.57rem;
      height: 2.29rem;
      background-color: white;
      color: rgba(154, 132, 255, 1);
      border: 2px solid rgba(154, 132, 255, 1);
      border-radius: 100px;
      text-align: center;
      font-size: 18px;
    }
  }
}

